@use 'variables';

.root {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    &__modal {
        background-color: #f5faff;
        border-radius: 20px;
        padding: 40px 20px;
        max-width: 1000px;
        max-height: 700px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__leftContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__titleContent {
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    &__title {
        font-size: 24px;
        color: #64d370;

        @include variables.font-montserrat;
    }

    &__date {
        font-size: 14px;
        color: #64d370;

        @include variables.font-montserrat;
    }

    &__description {
        font-size: 14px;
        color: #353535;
        margin-top: 10px;
        margin-bottom: 10px;

        @include variables.font-montserrat;
    }

    &__close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background-color: #64d370;
        transition: background-color 0.3s;
        color: #f5faff;
        border: none;
        outline: none;

        &:hover {
            background-color: #5dbb6b;
        }
    }

    &__rightContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }

    &__comments {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: end;
        margin-bottom: 20px;
        overflow-y: auto;
        padding-bottom: 20px;
        background-color: transparent;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__comment {
        border-radius: 50px;
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        justify-content: center;
        background-color: #f5faff;
        box-shadow: 3px 9px 10px 0 rgb(86 86 86 / 30%);
    }

    &__commentName {
        margin: 0;
        margin-left: 30px;
        font-size: 14px;
        color: #64d370;

        @include variables.font-montserrat;
    }

    &__commentText {
        margin: 0;
        margin-left: 30px;
        font-size: 14px;
        color: #353535;

        @include variables.font-montserrat;
    }
}
