@use 'variables';

.root {
    width: 300px;

    &__input {
        // width: 100%;
        margin-bottom: 20px;
        width: 270px;
    }

    &__button {
        width: 100%;
        margin-top: 20px;
    }

    &__title {
        margin-bottom: 20px;
        text-align: center;

        @include variables.font-montserrat;
    }

    &__error {
        color: red;
        text-align: center;
    }
}
